body{
	position:relative;
	overflow-x: hidden;
	text-align: center;	
}
#header,#footer{
	width:100%;
	padding:5px 0px;
	margin:10px 0px;
	text-align: center;
}
#header{
	border-bottom: 1px solid black;
	background-color: #003C7D;
	color:#F47F24;
}
#footer{
	position:absolute;
	bottom: 0px;
	border-top: 1px solid black;
	background-color: #F47F24;
	color:#003C7D;
}
#info{
	padding: 10px 20%;
}
#body{
	position: relative;
	padding:10px;
}